[Desktop Entry]
Type=Application
Name=KPass
GenericName=Password Manager
Comment=KeePass password database client
Exec=kpass %u
Icon=com.benjih.KPass
MimeType=application/x-keepass2;
Categories=Utility;Security;
StartupNotify=true
Keywords=password;keepass;kdbx;vault;
