[Desktop Entry]
Type=Application
Name=KPass
GenericName=Password Manager
Comment=KeePass password database client
Exec=kpass
Icon=com.benjih.KPass
Categories=Utility;Security;
StartupNotify=true
Keywords=password;keepass;kdbx;vault;
